.cabecalho{
    background-color:bisque
    border: 10px
    border-color: rgb (0,0,0);
    border-style: dashed;
    margin: 10px;
    color: white;
    font-weight: 400;
}

#cachorro-imagem{
    width: 300px;
    border: 3px black;
}

.Lista-links{
    font-size: 30px;
    color: blueviolet;
}


.Lista-links{
    font-size: 40px;
    color: greenyellow;
}
.principal{ 
    background-color: black;
    border: white;
    border-color: white;
    border-style: double;
    margin: 30px;
    color: yellow;
}